
/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 2rem 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 700 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
    letter-spacing: 1px;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 1px;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 500;
}

.site-main .site-banner .site-title h1{
    font-size: 4rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 5% 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 4px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 


/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.bg-panel{
    position: absolute;
    background: #e029290a;
    width: 400px;
    height: 400px;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */ 

/* Services Area */ 

.site-main .services-area{
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.site-main .services-area .services-title{
    padding: 0 5rem;
}

.site-main > .services-area .services{
    background: white;
    padding: 2rem 0;
    margin: 2rem 0rem;
    transition: box-shadow .7s ease;
    border-radius: 10px; 
    box-shadow: 0px 10px 5px rgba(57, 56, 61, 0.205);
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}

.site-main .services .services-img > img{
    width: 130px;
    height: 130px;
}

.ul-project-seperator{
    background: #0966e5;
    width: 50px;
    height: 3px;
    margin: 10px auto 10px;
}

/* End Services Area */ 


/* Project Area */ 




/* End Project Area */ 


/* About Me */ 
.site-main .about-area .testimonials{
    box-shadow: var(--box-shadow);
    transition: box-shadow .7s ease;
}

/* End About Me */ 

/* Subscribe me */ 

.site-main .subscribe-us-area{
    background: url(../img/banner/home-bg.jpg) no-repeat;
    padding: 10rem 0;
    margin: 0 auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}
.site-main .subscribe-us-area .subscribe form{
    max-width: 500px;
    margin: auto;
    padding: 50px;
    color: white;
    font: normal 500 18px/20px var(--roboto);
    border: 1px solid #e6f2ff;
    border-radius: 5px;
}
.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */ 

/* Footer Area */ 

footer.footer-area{
    padding-top: 3rem;
    padding-bottom: 2rem;
    background: #333333;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: whitesmoke;
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}

footer.footer-area .social .fa-instagram:hover{
    color: #E85542;
}

footer.footer-area .social .fa-youtube:hover{
    color: #FF0000;
}

footer.footer-area .social .fa-github:hover{
    color: #24292E;
}

footer.footer-area .social .fa-linkedin:hover{
    color: #0A66C2;
}

footer .footer-para{
    color: white;
    font: normal 500 20px/ 25px var(--roboto);
}
.ul-footer-seperator{
    background: white;
    width: 30%;
    height: 2px;
    margin: 10px auto 10px;
}
/* End Footer */ 


.custom-card{
    font: normal 400 17px/ 30px var(--roboto);
    background: white;
    padding: 2rem 2rem;
    margin: 2rem 0rem;
    box-shadow: var(--box-shadow);
    transition: box-shadow .7s ease;
    border-radius: 10px; 
    text-align: left;
}
.feedback-name{
    color:  #0966e5;
    font: italic 700 17px/ 30px var(--roboto);
}